.collections_text {
  height: 70%;
  width: 35rem;
  background-color: var(--ash);
  background-size: 50% 50%;
  position: relative;
  border-radius: 0.8rem;
}

.collections_text img {
  position: absolute;
  top: -9rem;
  left: 15%;
  width: 70%;
}
.collections_text_button {
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  border: none;
  cursor: pointer;
}
.collections_text_button span {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-right: 1rem;
}
.collections_text_div {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collections_text_div h3 {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-align: center;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #000000;
}
