.container {
  padding: var(--padding-desktop);
}

@media screen and (min-width: 481px) and (max-width: 1150px) {
  .container {
    padding: var(--padding-tablet);
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding: var(--padding-mobile);
  }
}
