.header {
  height: 73rem;
  width: 100%;
  background-color: #191919;
  background-image: url("../../assets/home/desktop/image-hero.jpg");
  padding: 0 16.5rem;
}

.nav_content {
  width: 40%;
  margin-top: 15rem;
}

.nav_content h5 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 2rem;
}

.nav_content h2 {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 5.6rem;
  line-height: 5.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 3rem;
}

.nav_content p {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-bottom: 4rem;
}

.nav_content button {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--primary);
  border: none;
  outline: none;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
}
.nav_content button:hover {
  background-color: var(--primary-light);
}
.speaker_container {
  height: 28.5rem;
  width: 100%;
  margin: 15rem 0 5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 16.5rem;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .header{
    background-image: url('../../assets/home/tablet/image-header.jpg');
    background-position: center;
    background-size: contain;
    padding:0 5rem;
    height: 75rem;
    width: auto;
  }
  .nav_content{
    text-align: center;
    width: 60%;
    margin: 15rem auto 0;
  }
  .nav_content h5{
    font-size: 2rem;
  }
  .nav_content h2{
    font-size: 4.5rem;
    letter-spacing: 3px;
    margin-bottom: 2rem;
  }
  .nav_content p{
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }
  .nav_content button{
      padding: 2rem 4rem;
      font-size: 1.8rem;
  }
  .speaker_container {
    padding: 0 5rem;
    margin: 10rem 0 0;
  }
}
