*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #d87d4a;
  --primary-light: #fbaf85;
  --black-light: #101010;
  --ash: #f1f1f1;
  --ash-white: #fafafa;
}
html {
  font-size: 62.5%;
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  html{
    font-size: 50%;
  }
} 
@media screen and (max-width: 480px) {
  html{
    font-size: 60%;
  }
}
body {
  margin: 0;
  font-family: "Manrope", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

